<nav class="navbar navbar-expand-lg navbar-dark fixed-top px-lg-5">
    <a href="#" class="navbar-brand ml-lg-5 py-2">Logo</a>
    <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#navlist"><span class="navbar-toggler-icon"></span></button>
    <div class="navbar-collapse collapse" id="navlist">
        <ul class="navbar-nav ml-auto mr-lg-3">
            <li class="nav-item"><a class="nav-link active" href="/">Home <i class="fas fa-home"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About <i class="fas fa-users"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/articles">Articles <i class="fas fa-tasks"></i></a></li>
            <li class="divider"></li>
        </ul>
        <ul class="navbar-nav mx-lg-2">
            <li class="dividerv"></li>
            <li class="nav-item"><a class="nav-link" href="/sigin">Sig in <i class="fas fa-sign-in-alt"></i></a></li>
            <li class="nav-item"><a class="nav-link sgnup" href="/siginup">Sign up <i class="fas fa-user-plus"></i></a></li>
        </ul>
    </div>

</nav>